body{
  background-color: rgb(239, 239, 239);
}
.page-title{
  color: brown;
  margin-top: 50px;
  margin-bottom: 30px;
}
ul{
  list-style: none;  
  border: 1px solid black;
  padding: 20px 20px;
  background-color: bisque;
  text-align: center;
  margin-top: 30px;
}
a{
  text-decoration: none;
  color: brown;
}
.container{
  margin: 0 auto;
  width:200px ;
}
li{
  padding-top: 6px;
}